<!-- Breadcrumb-->
<ul class="uk-breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Agents</a></li>
    <li><span>Create</span></li>
</ul>
<!-- /Breadcrumb-->

<div class="uk-card uk-card-default uk-card-small uk-card-hover">
    <form class="uk-form-stacked">
        <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-auto"><h4>Create Agent</h4></div>
            </div>
        </div>
        <div class="uk-card-body uk-overflow-auto">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-mitra">Mitra<sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-stacked-mitra" ng-model="form.mitra_id">
                        <option disabled>-- select mitra --</option>
                    </select>
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-name">Name<sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-name" type="text" placeholder="Mitra Name ..." ng-model="form.name">
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-npwp"><i>NPWP</i><sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-npwp" type="text" placeholder="Npwp ..." ng-model="form.npwp">
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-nib"><i>NIB</i><sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-nib" type="text" placeholder="Nib ..." ng-model="form.nib">
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-email">Email<sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-email" type="email" placeholder="Email ..." ng-model="form.email">
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-phonenumber">Phone number<sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-phonenumber" type="tel" placeholder="Phone number ..." ng-model="form.phonenumber">
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-postalcode">Postal Code<sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <select class="uk-select" ng-model="form.postal_code_id" id="form-stacked-postalcode">
                        <option disabled>-- select postal code --</option>
                    </select>
                </div>
                <hr/>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-meta uk-text-small" for="form-stacked-address">Address<sup class="uk-text-danger">*</sup></label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" ng-model="form.address" id="form-stacked-address"></textarea>
                </div>
            </div>
        </div>

        <div class="uk-card-footer uk-clearfix">
            <button type="button" class="uk-button uk-button-default uk-button-large">Back</button>
            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-float-right">Save</button>
        </div>
    </form>
</div>